## Core
pandas==1.5.3
numpy==1.24.3
requests>=2.31

## Modeling
scikit-learn==1.2.2
xgboost==1.7.6
lightgbm==3.3.5

## Visualization
matplotlib==3.6.3
seaborn==0.12.2
bokeh==2.4.3

## App (UI)
streamlit==1.24.1
streamlit-aggrid==0.3.4  # Interactive tables
streamlit-option-menu==0.3.6  # For sidebar navigation

## Utility
joblib==1.2.0
tqdm==4.65.0
scipy==1.11.4

