# Core
pandas>=1.5
numpy>=1.23

# Modeling
scikit-learn>=1.2
xgboost>=1.7
lightgbm>=3.3
tensorflow>=2.12  # for optional LSTM, replace with torch if using PyTorch
# torch>=2.0
# torchvision>=0.15

# Visualization
matplotlib>=3.6
seaborn>=0.12

# App (UI)
streamlit>=1.24
streamlit-aggrid>=0.3  # Interactive tables
streamlit-option-menu  # For sidebar navigation


# Utility
joblib>=1.2
tqdm>=4.65

# Optional: if using categorical encoding or advanced preprocessing
category_encoders>=2.6

scipy>=1.10

jupyterlab>=3.6
ipython>=8.12
shap>=0.42           # For model explainability
scikit-optimize>=0.9 # For hyperparameter tuning (alternative to Optuna)
mlflow>=2.3
